*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #6D5D4B;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.heading--1, .heading--2, .heading--3, .heading--4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading--1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading--2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading--2--light {
    color: #f9f7f6; }
  .heading--2--dark {
    color: #54483A; }

.heading--3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading--4 {
  font-size: 1.9rem; }
  .heading--4--light {
    color: #f9f7f6; }
  .heading--4--dark {
    color: #54483A; }

.btn {
  border: none;
  font-size: 1.5rem;
  padding: 1.8rem 3rem;
  background-color: #c69963;
  cursor: pointer;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.navbar {
  background: #c69963;
  grid-row: 1/-1;
  grid-column: sidebar-start/sidebar-end;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .navbar {
      grid-row: 1/2;
      grid-column: 1/-1;
      justify-content: left;
      align-items: center; } }

.side__btn {
  margin-top: 4rem;
  border: none;
  height: 2px;
  width: 4.5rem;
  background-color: #fff;
  position: relative; }
  .side__btn::before {
    content: '';
    display: table;
    position: absolute;
    top: -1rem;
    left: 0;
    border: none;
    height: 2px;
    width: 4.5rem;
    background-color: #fff; }
  .side__btn::after {
    content: '';
    display: table;
    position: absolute;
    top: 1rem;
    left: 0;
    border: none;
    height: 2px;
    width: 4.5rem;
    background-color: #fff; }
  @media only screen and (max-width: 75em) {
    .side__btn {
      margin-top: 0;
      margin-left: 3rem; } }

.header {
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(to right, rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, 90rem);
  row-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: full-start/-1; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 5rem; } }
  .header__btn1 {
    align-self: start;
    justify-self: start; }
  .header__logo {
    height: 3rem;
    justify-self: center; }
  .header__seenon-text {
    font-size: 1.6rem;
    color: #aaa;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      height: 1px;
      display: table;
      background-color: currentColor;
      top: 0;
      left: 0; }
    .header__seenon-text::before {
      grid-column: 1/2; }
    .header__seenon-text::after {
      grid-column: 3/4; }
  .header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    justify-items: center;
    align-items: center; }
    .header__seenon-logos img {
      max-height: 2.5rem;
      max-width: 100%; }

.realtors {
  background: #101d2c;
  grid-column: col-start 7 /full-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 50em) {
    .realtors {
      grid-column: full-start/-1;
      grid-row: 3/4; } }
  .realtors__profile {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 2rem;
    row-gap: 5vh;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .realtors__profile {
        grid-template-columns: repeat(3, min-content max-content);
        padding: 2rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .realtors__profile {
        grid-template-columns: min-content max-content; } }
    .realtors__profile__picture {
      height: 7rem;
      border-radius: 50%; }
    .realtors__profile__name {
      font-size: 1.9rem; }
    .realtors__profile p {
      font-size: 1.2rem;
      color: #aaa; }

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
  gap: 6rem; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem; }
  .feature__icon {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    fill: #c69963;
    grid-row: 1/span 2;
    transform: translateY(-1rem); }
  .feature__heading {
    font-size: 2rem; }
  .feature__text {
    font-size: 1.7rem; }

.story__picture {
  grid-column: full-start/col-end 4;
  background-image: linear-gradient(to right, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  display: grid;
  background-position: center;
  grid-template-columns: repeat(6, [col-start] 1fr [col-end]);
  grid-template-rows: repeat(6, [col-start] 1fr [col-end]);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .story__picture {
      grid-column: 1/-1;
      grid-row: 6/7; } }

.story--1 {
  width: 100%;
  grid-column: col-start 2/col-end 5;
  grid-row: col-start 2/ col-end 5;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

.story--2 {
  width: 115%;
  grid-column: col-start 4 / 9;
  grid-row: col-start 3 / col-end 6;
  z-index: 1000;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 50em) {
    .story--2 {
      width: 100%; } }

.story__content {
  display: grid;
  align-content: center;
  justify-items: start;
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 12rem; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1/-1;
      grid-row: 5/6; } }

.story__text {
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 4rem; }

.home {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem; }
  .home__card {
    background-color: #f9f7f6;
    display: grid;
    gap: 3.5rem;
    grid-template-columns: repeat(2, 1fr); }
    .home__card__image {
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/2; }
    .home__card svg {
      width: 3rem;
      height: 3rem;
      grid-column: 2/3;
      grid-row: 1;
      justify-self: end;
      margin: .8rem;
      fill: #c69963; }
    .home__card__text {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      background-color: #101d2c;
      padding: 1.25rem;
      font-size: 1.6rem;
      color: #fff;
      grid-column: 1/-1;
      grid-row: 1/2;
      align-self: end;
      width: 80%;
      justify-self: center;
      text-align: center;
      transform: translateY(50%); }
    .home__card p {
      display: inline-block; }
    .home__card__room, .home__card__location, .home__card__area, .home__card__price {
      font-size: 1.5rem;
      margin-left: 2rem;
      display: flex;
      align-items: center; }
      .home__card__room svg, .home__card__location svg, .home__card__area svg, .home__card__price svg {
        width: 2rem;
        height: 2rem; }
    .home__card__room, .home__card__location {
      margin-top: 2rem; }
    .home__card .cta {
      border: none;
      background-color: #c69963;
      grid-column: 1/-1;
      padding: 2rem;
      font-size: 1.6rem;
      color: #fff;
      text-transform: uppercase; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem; }
  .gallery--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .gallery--1 {
    grid-column: 1/span 2;
    grid-row: 1/span 2; }
  .gallery--2 {
    grid-column: 3/span 3;
    grid-row: 1/span 3; }
  .gallery--3 {
    grid-column: 6/span 1;
    grid-row: 1 / span 2; }
  .gallery--4 {
    grid-column: 7/span 2;
    grid-row: 1/span 2; }
  .gallery--5 {
    grid-column: 1/span 2;
    grid-row: 3/span 3; }
  .gallery--6 {
    grid-column: 3/span 2;
    grid-row: 4/span 2; }
  .gallery--7 {
    grid-column: 5/span 1;
    grid-row: 4/span 1; }
  .gallery--8 {
    grid-column: 6/span 2;
    grid-row: 3/span 2; }
  .gallery--9 {
    grid-column: 8/span 1;
    grid-row: 3 / span 3; }
  .gallery--10 {
    grid-column: 1/span 1;
    grid-row: 6 / span 2; }
  .gallery--11 {
    grid-column: 2/span 2;
    grid-row: 6 / span 2; }
  .gallery--12 {
    grid-column: 4/span 1;
    grid-row: 6/span 2; }
  .gallery--13 {
    grid-column: 5/span 3;
    grid-row: 5/ span 3; }
  .gallery--14 {
    grid-column: 8/span 1;
    grid-row: 6 /span 2; }

.footer {
  background: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem 0; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 0 5rem;
  align-content: center;
  justify-items: center;
  gap: 2rem; }
  .nav__item {
    transition: all .2s; }
  .nav .nav__item:hover {
    transform: translateY(-3px); }
  .nav__link:link, .nav__link:visited {
    font-size: 1.6rem;
    text-decoration: none;
    font-size: 400;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    padding: 1rem;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
  margin-top: 6rem; }
