.home{
    grid-column: center-start/center-end;
    //padding: 6rem;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 7rem;
    &__card{
        background-color: $color-grey-light-1;
        display: grid;
        gap:3.5rem;
        grid-template-columns: repeat(2,1fr);

        &__image{
            width: 100%;
            grid-column:1/-1;   
            grid-row: 1/2;
        }
        svg{
            width: 3rem;
            height: 3rem;
            grid-column: 2/3;
            grid-row: 1;
            justify-self: end;
            margin: .8rem; 
            fill: $color-primary; 
        }
        &__text{
            font-family: "Josefin Sans", sans-serif;
            font-weight: 400;
                background-color: $color-secondary;
                padding: 1.25rem;
                font-size: 1.6rem;
                color: #fff;
                grid-column: 1/-1;
                grid-row: 1/2;
                align-self: end;
                width: 80%;
                justify-self: center;
                text-align: center;
                transform: translateY(50%);
            }
            p{
                display: inline-block;
            }
        // &__location{
        //    grid-column: 1/1;
        //    display: flex;
        //    justify-content: center;
        //    align-items: center;
        //    font-size: 1.6rem;
           
        // }


        &__room,
        &__location,
        &__area,
        &__price {
            font-size: 1.5rem;
            margin-left: 2rem;
            display: flex;
            align-items: center;
            
            svg{
                width: 2rem;
                height: 2rem;
            }
        }

        &__room,&__location{
            margin-top: 2rem;
        }

        .cta{
            border: none;
            background-color: $color-primary;
            grid-column: 1/-1;
            padding: 2rem;
            font-size: 1.6rem;
            color: #fff;
            text-transform: uppercase;
        }
    }
}