.navbar{
    background: $color-primary;
    grid-row: 1/-1;
    grid-column: sidebar-start/sidebar-end;
    display: flex;
    justify-content: center;

    @media only screen and (max-width : $bp-largest){
        grid-row: 1/2;
        grid-column: 1/-1;
        justify-content: left;
        align-items: center;
    }
}

.side__btn{
    //margin-top: 3rem;
    margin-top: 4rem;
    border: none;
    height: 2px;
    width: 4.5rem;
    background-color: #fff;
    position: relative;
    &::before{
        content: '';
        display: table;
        position: absolute;
        top: -1rem;
        left: 0;
        border: none;
        height: 2px;
        width: 4.5rem;
        background-color: #fff;
    }
    &::after{
        content: '';
        display: table;
        position: absolute;
        top: 1rem;
        left: 0;
        border: none;
        height: 2px;
        width: 4.5rem;
        background-color: #fff;
    }
    @media only screen and (max-width : $bp-largest){
        margin-top: 0;
        margin-left: 3rem;
    }
}